name: Nodejs16 base ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  RANDSTR: github_node16
  REGION: cn-hongkong

jobs:
  macos-ci:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: install s
        run: |
          npm i @serverless-devs/s@beta -g
      - name: config s
        run: |
          s config add --AccountID  ${{secrets.ACCOUNTID}} --AccountID  ${{secrets.ACCOUNTID}} --AccessKeyID ${{secrets.ACCESSKEYID}} --AccessKeySecret ${{secrets.ACCESSKEYSECRET}} -a quanxi -f
      - name: NPM  install
        run: |
          npm install
      - name: NPM run build
        run: |
          npm run build
      - name: run base ci e2e 
        run: |
          cd __tests__/e2e && ./ci-mac-linux.sh && cd -

  windows-ci:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        run: |
          choco install -y curl
      - name: install s
        run: |
          npm i @serverless-devs/s@beta -g
      - name: config s
        run: |
          s config add --AccountID  ${{secrets.ACCOUNTID}} --AccessKeyID ${{secrets.ACCESSKEYID}} --AccessKeySecret ${{secrets.ACCESSKEYSECRET}} -a quanxi -f
      - name: NPM  install
        run: |
          npm install
      - name: NPM run build
        run: |
          npm run build
      - name: run base ci
        shell: pwsh
        run: |
          cd __tests__/e2e
          .\ci-windows.ps1

  linux-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: install s
        run: |
          npm i @serverless-devs/s@beta -g
      - name: config s
        run: |
          s config add --AccountID  ${{secrets.ACCOUNTID}} --AccessKeyID ${{secrets.ACCESSKEYID}} --AccessKeySecret ${{secrets.ACCESSKEYSECRET}} -a quanxi -f
      - name: NPM  install
        run: |
          npm install
      - name: NPM run build
        run: |
          npm run build
      - name: run base ci
        run: |
          cd __tests__/e2e && ./ci-mac-linux.sh && cd -
