name: Nodejs16 base ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  RANDSTR: github_node16
  REGION: cn-hongkong
  DEVS_TEST_AK_ID: ${{secrets.DEVS_TEST_AK_ID}}
  DEVS_TEST_AK_SECRET: ${{secrets.DEVS_TEST_AK_SECRET}}
  DEVS_TEST_UID: ${{secrets.DEVS_TEST_UID}}

jobs:
  macos-ci:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: install s
        run: |
          npm i @serverless-devs/s -g
      - name: config s
        run: |
          s config add --AccountID  ${{secrets.ACCOUNTID}} --AccountID  ${{secrets.ACCOUNTID}} --AccessKeyID ${{secrets.ACCESSKEYID}} --AccessKeySecret ${{secrets.ACCESSKEYSECRET}} -a quanxi -f
      - name: NPM  install
        run: |
          npm install
      - name: run base ci ut and it
        run: |
          npm run test
      - name: NPM run build
        run: |
          npm run build
      - name: run base ci e2e 
        run: |
          cd __tests__/e2e && ./ci-mac-linux.sh && cd -

  windows-ci:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        run: |
          choco install -y curl
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: install s
        run: |
          npm i @serverless-devs/s -g
      - name: config s
        run: |
          s config add --AccountID  ${{secrets.ACCOUNTID}} --AccessKeyID ${{secrets.ACCESSKEYID}} --AccessKeySecret ${{secrets.ACCESSKEYSECRET}} -a quanxi -f
      - name: NPM  install
        run: |
          npm install
      - name: run base ci ut and it
        run: |
          npm run test
      - name: NPM run build
        run: |
          npm run build
      - name: run base ci e2e
        shell: pwsh
        run: |
          cd __tests__/e2e
          .\ci-windows.ps1

  linux-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: install s
        run: |
          npm i @serverless-devs/s -g
      - name: config s
        run: |
          s config add --AccountID  ${{secrets.ACCOUNTID}} --AccessKeyID ${{secrets.ACCESSKEYID}} --AccessKeySecret ${{secrets.ACCESSKEYSECRET}} -a quanxi -f
      - name: NPM  install
        run: |
          echo -e ${{secrets.NPM_REGISTRY_AUTH}} >> ~/.npmrc
          npm install
      - name: run base ci ut and it
        run: |
          npm run test
      - name: NPM run build
        run: |
          npm run build
      - name: run base ci e2e
        run: |
          cd __tests__/e2e && ./ci-mac-linux.sh && cd -
